log/*.log
tmp/*
.DS_Store
.project
.bundle/*
bundle/*
.idea/*
.settings/*
.cookbooks/
.sass-cache/*
.ruby-version/*
*swp

node_modules/*
app/bower_components/*
config/oauth.yml
config/services.yml
config/services.json
config/paths*.json
build/*
temp/*
.vagrant
public
config/services.local.yml

.ruby-version
.ruby-gemset

test/app_config.js
config/config.json
.rvmrc