body, table {font-family: Arial
	font-size: 70%;
}
h1 {color: #060457;/* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    background: #f0f0f0; /* Цвет фона */
	}
h3 {color: #060457; 
	}
